<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".navigation_practice.NavigationMainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationPracticeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Broadcast_Test_Activity"
            android:exported="true"></activity>
        <activity
            android:name=".Service_Test_Activity"
            android:exported="true" />
        <activity
            android:name=".local_database_practice.room_practice.Room_With_SingleTon"
            android:exported="true" />
        <activity
            android:name=".local_database_practice.room_practice.Room_Activity"
            android:exported="true" />
        <activity
            android:name=".mvvm_practice.MVVM_with_counter"
            android:exported="true" />
        <activity
            android:name=".lifecycle_observer.Observer_practice"
            android:exported="true" />
        <activity
            android:name=".mvvm_practice.ShowUserData"
            android:exported="true" />
        <activity
            android:name=".advance.Coroutine_Activity"
            android:exported="true" />
        <activity
            android:name=".navigation_practice.DrawerNavigation"
            android:exported="false" />
        <activity
            android:name=".navigation_practice.BottomBar"
            android:exported="true" />
        <activity
            android:name=".design_practice.LayoutPractice"
            android:exported="true" />
        <activity
            android:name=".local_database_practice.sql_database.Sql_Practice"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Shared_Preference2"
            android:exported="false" />
        <activity
            android:name=".Shared_Preferences_Activity"
            android:exported="true" />
        <activity
            android:name=".Api_Calling_Activity"
            android:exported="true" />
        <activity
            android:name=".Drawer_Navigation"
            android:exported="true" />
        <activity
            android:name=".Tab_layout"
            android:exported="false" />
        <activity
            android:name=".Bottom_navigation"
            android:exported="true" />
        <activity
            android:name=".Practice_fragment"
            android:exported="true" />
        <activity
            android:name=".RecyclerCardView"
            android:exported="true" />
        <activity
            android:name=".Simple_and_Custom_Alert_Dialog"
            android:exported="true" />
        <activity
            android:name=".custom_toolbar"
            android:exported="true" />
        <activity
            android:name=".Splash_screen"
            android:exported="true" />
        <activity
            android:name=".custom_cardview"
            android:exported="false" />
        <activity
            android:name=".custom_button"
            android:exported="true" />
        <activity
            android:name=".program_practice.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kotlin_practice2" />

        <service android:name=".MusicService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>